.loginError {
	text-align: center;
	color: #FF0033;
	padding-bottom: 20px;
}

.registerError {
	text-align: center !important;
	color: #FF0033 !important;
	padding-bottom: 20px !important;
}

.error {
	margin-bottom: 10px;
}